<!--

<p id="notice"><%= notice %></p>

accommodating custom alerts; br added below 2019 02 13-->


<br>

<div class="jumbotron text-center">
  <h2 style="color:black; font-weight:200;">Search Vetspotter to find reviews of local veterinarians</h2>
  <br>
  <!--search bar and button width/alignment are messy, need to be fixed when I understand it. 20190630-->
  <div class="example form-inline", style="width:51%; margin-right:auto; margin-left:auto;">
  <%= form_tag search_veterinarians_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Enter address, city, or zip', style:"width:600px;"%>
      <!-- can't figure out why this doesn't work, 2019 03 25 <i class= "glyphicon glyphicon-search" ></i> -->
      <%= submit_tag "Search", style: "color:white;", name: nil, class: "btn btn-front_page" %>
    </p>
    <% end %>
    </div>
</div>

<div class="row">
<div class="col col-lg-6">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location and Contact</th>
      <th>Average User Rating</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @veterinarians.each do |veterinarian|
    @reviews = Review.where(veterinarian_id:veterinarian.id)
    @avg_rating = @reviews.average(:rating)%>

      <tr>
        <td col width="140"><%=  link_to veterinarian.name, veterinarian %></td>
        <td><%= veterinarian.address %> <br> <%= veterinarian.phone %> <br> <%= link_to veterinarian.website, veterinarian.website %></td>

      <td col width="200px"><p class="star-rating" data-score= <%= @avg_rating %></p> <p><%= "Average from #{@reviews.length} reviews" %></p></td>

        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_veterinarian_path(veterinarian), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', veterinarian, class: "btn btn-link", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col col-lg-6 text-center">
<!--
  <iframe
    width="400"
    height="400"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.2110814013613!2d-77.03848538503253!3d38.91915265326718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7dc5cadbdd3%3A0x99752a7d2ae4f853!2sWashington%2C+DC+20009!5e0!3m2!1sen!2sus!4v1562114263530!5m2!1sen!2sus"
  </iframe>
-->




</div>

</div>
</div>


<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Veterinarian', new_veterinarian_path, class: "btn btn-link" %>
<% end %>
<br>
<br>
<div class="bottom_image" style="margin-bottom: 10px;">
<%= image_tag('https://s3.amazonaws.com/vetspotter/tom-Waiting-dog-lineart.png', :size=> "75x75", :alt=> "sitting dog logo") %>
<p style="text-align: center; width: 100%; font-size: 12px">Copyright 2020 Vetspotter</p>
</div>

<script>
$('.star-rating').raty('destroy');
$('.star-rating').raty({
  path: 'https://s3.amazonaws.com/vetspotter/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
