
<br><br>
<div class = "row">
  <div class = "col-md-3">
    <%= image_tag @veterinarian.image_url %>

    <h2>
      <%= @veterinarian.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "Average from #{@reviews.length} reviews" %></p>

    <p>
      <strong>Address:</strong>
      <%= @veterinarian.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @veterinarian.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @veterinarian.website, @veterinarian.website %>
    </p>
    <br>
    <%= link_to "Write a Review", new_veterinarian_review_path(@veterinarian), class: "btn" %>
    <br>
    <br>
    <iframe
      width="300"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACHabXbdUZmjzuBcoN-fHwA-IHJnLlyTA
        &q=<%= @veterinarian.address.parameterize %>&zoom=12" allowfullscreen>
    </iframe>
  </div>

  <div class = "col-md-9">
    <% if @reviews.blank? %>
    <br>
    <h3>No reviews yet.  Be the first to write one!</h3>
    <% else %>

    <table class = "table">
      <!--this column width bit is super hacky, should probably be fixed -->
      <thead>
        <tr>
          <th width=100px></th>
          <th width=full></th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td>
            <h4>
              <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}" %>
            </h4>
            <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
            </td>

           <td>
            <div class="star-rating" data-score= <%= review.rating %> ></div>
            <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
            <% if user_signed_in? %>
            <% if (review.user == current_user) || (current_user.admin?) %>
                <%= link_to "Edit", edit_veterinarian_review_path(@veterinarian, review) %>
                <%= link_to "Delete", veterinarian_review_path(@veterinarian, review), method: :delete %>
                <% end %>
                <% end %>
          </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <% end %>
  </div>
</div>


<br>

<%= link_to 'Edit', edit_veterinarian_path(@veterinarian), class: "btn" %> |
<%= link_to 'Back', veterinarians_path, class: "btn" %>

<script>
$('.star-rating').raty({
  path: 'https://s3.amazonaws.com/vetspotter/stars',
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
