<%= image_tag @veterinarian.image_url %>

<p>
  <strong>Name:</strong>
  <%= @veterinarian.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @veterinarian.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @veterinarian.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @veterinarian.website %>
</p>
<%= link_to "Write a Review", new_veterinarian_review_path(@veterinarian), class: "btn btn-primary" %>


<%= link_to 'Edit', edit_veterinarian_path(@veterinarian), class: "btn btn-link" %> |
<%= link_to 'Back', veterinarians_path, class: "btn btn-link" %>
