<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @veterinarian.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @veterinarian.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @veterinarian.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @veterinarian.website %>
</p>

<%= link_to 'Edit', edit_veterinarian_path(@veterinarian), class: "btn btn-link" %> |
<%= link_to 'Back', veterinarians_path, class: "btn btn-link" %>
