
<br>
<div class="jumbotron" style="background-color: #8fd2ff;">
<h2 style="text-align:center">Sign in</h2>
<h4 style="text-align:center">Returning users can sign in here to post reviews</h4>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class= "field form-group" style="width:51%; margin-right:auto; margin-left:auto;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class= "field form-group" style="width:51%; margin-right:auto; margin-left:auto;">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class= "field form-group" style="text-align:center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions form-group" style="text-align:center">
    <%= f.submit "Log in", class: "btn btn_blue_background" %>
  </div>
<% end %>

<div style="text-align:center">
<%= render "devise/shared/links" %>
</div>
</div>
<br>
